@import './typography';
@import './variables';

html {
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'AvenirNext LT Pro', sans-serif;
  color: $color-primary;
  margin: 0;
}