@import '../../partials/resets';
@import '../../partials/variables';
@import '../../partials/mixins.scss';

.form {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .5rem 1rem 0 1rem;

  @include tablet {
    width: 100%;
    justify-content: space-around;
  }

  &__counter {
    color: $color-text;
    font-family: 'AvenirNext LT Pro Demi';
    font-size: .875rem;
    margin-bottom:2rem;

  }

  &__interactive {
    @include flex-center;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-divider;

    @include between-mobile-tablet {
      padding: 0 0 2rem 3rem;
    }
    @include tablet {
      margin: 0 6.25rem 2rem 6.25rem;
    }

    @include desktop {
      margin: 0 17.875rem 0 17.875rem;
      padding: 0 0 2rem 0;
      justify-content: flex-end;
    }
  }

  &__form {
    @include flex-column;
    width: 80%;

    @include tablet {
      width: 100%;
      flex-direction: row;
    }

    @include desktop {
      width: 69%;
    }
  }

  &__image {
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    object-fit: cover;
    object-position: left;
    align-self: flex-start;
    margin-right: .5rem;

    @include tablet {
      margin-right: 1rem;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: $color-light-text;
    font-family: 'AvenirNext LT Pro Demi';
    font-size: .875rem;
    text-align:left;
  }

  &__textbox {
    width: 100%;
    height: 6rem;
    border-radius: 4px;
    border: 3px solid $color-primary;
    padding: 1em;

    &::placeholder {
      color: $color-text;
      opacity: 1;
    }

    @include tablet {
      height: 3rem;
      // flex-grow: ;
    }
  }

  &__button {
    @include button;
    width: 100%;
    margin: .75rem 0 0 0;
    text-align: center;

    @include tablet {
      width: 10rem;
    }
  }



}