@import '../../partials/variables';
@import '../../partials/mixins';

.main {

  &__body {
    @include desktop {
      display:flex;
      width: 100vw;
    }
  }

  &__main-body {
    @include desktop {
      width: 65%;
    }
  }

  &__aside {
    @include desktop {
      width: 10%;
    }
  }
}
