$breakpointbetween-mobile-tablet: 460px;
$breakpointtablet: 768px;
$breakpointbetween-tablet-desktop: 900px;
$breakpointgallery: 1000px;
$breakpointdesktop: 1280px;

$color-primary: #0095FF;
$color-secondary: #0065AD;
$color-white: #FFFFFF;
$color-text: #323232;
$color-light-text: #AFAFAF;
$color-divider: #E1E1E1;
$color-light-background: #FAFAFA;


